[submodule "Electronics/CitationX_cockpit/library/ProMicroKiCad"]
	path = Electronics/library/ProMicroKiCad
	url = https://github.com/adessein/ProMicroKiCad
[submodule "Electronics/CitationX_cockpit/library/pretty-kicad-libs"]
	path = Electronics/library/pretty-kicad-libs
	url = https://github.com/esden/pretty-kicad-libs
[submodule "Electronics/CitationX_cockpit/library/kicad-schlib"]
	path = Electronics/library/kicad-schlib
	url = https://github.com/alexisvl/kicad-schlib.git
